.progress-bars {
    margin-top: 2%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.progress-bar {
    border: 1px solid #ced4da;
    width: 32%;
    height: 10px;
    border-radius: 0.25rem;
}


